body {
    text-align: center;
    margin: 0px;
    padding: 0px;
    /* fuentes */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header {
    height: 120px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #61dafb;
    background: white;
}

#logo {
    width: 30%;
    font-size: 30px;
    float: left;
    margin-top: 35px;
}

#logo img {
    display: block;
    float: left;
    height: 60px;
    margin-top: -8px;
    margin-right: -10px;
    animation: girar infinite 30s linear;
}

@keyframes girar{
    from  {
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#brand{
    display: block;
    margin: 0px;
    float: left;
}

.center {
    width: 75%;
    margin: 0px auto;
}

.clearfix{
    clear: both;
    float: none;
}

#menu {
    width: 70%;
    float: right;
    font-size: 18px;
}

#menu ul {
    line-height: 85px;
    width: 60%;
    float: right;
}

#menu ul li {
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a {
    text-decoration: none;
    color: #444;
    transition: 300ms all;
}

#menu a:hover {
    color: #3cb2d3;
}

#slider {
    width: 100%;
    height: 350px;
    /* line-height: 320px; */
    color: white;
    text-shadow: 0px 0px 5px #444;
    /* degradado css */
    background: rgba(113,206,239,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(113,206,239,1) 0%, rgba(33,180,226,1) 97%, rgba(183,222,237,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(113,206,239,1)), color-stop(97%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(113,206,239,1) 0%, rgba(33,180,226,1) 97%, rgba(183,222,237,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(113,206,239,1) 0%, rgba(33,180,226,1) 97%, rgba(183,222,237,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(113,206,239,1) 0%, rgba(33,180,226,1) 97%, rgba(183,222,237,1) 100%);
    background: radial-gradient(ellipse at center, rgba(113,206,239,1) 0%, rgba(33,180,226,1) 97%, rgba(183,222,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71ceef', endColorstr='#b7deed', GradientType=1 );

}

#slider h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 130px;
    text-align: center;

}

.btn-white{
    display: block;
    color: rgb(88,88,88);
    background: white;
    padding: 10px;
    width: 100px;
    height: 35px;
    margin: 0px auto; /*Centra texto en eje y*/
    font-size: 18px;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: none;
    line-height: 35px; /*Centra texto en eje x*/
    box-shadow: 0px 0px 5px rgb(88,88,88);
    margin-top: 40px;
    border-radius: 4px;
    transition: 300ms all;
}

.btn-white:hover{
    background: #444;
    color: white;
}

#slider.slider-small {
    height: 150px;
}

#slider.slider-small h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 50px;
    text-align: center;
}

#content {
    width: 70%;
    float: left;
    min-height: 750px;
    margin-right: 20px;
}

#sidebar {
    width: 25%;
    float: left;
}

.sidebar-item {
    background: #f7f7f7;
    padding: 20px;
    margin-top: 30px;
}

.sidebar-item h3{
    text-transform: uppercase;
    font-size: 18px;
    margin: 0px;
    border-bottom: 3px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.sidebar-item .btn{
    margin-top: 10px;
    margin: 0px auto;
}   

.btn {
    max-width: 120px;
    display: block;
    background: black;
    color: white;
    padding: 15px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    text-decoration: none;
    transition: 300ms all;
    border: none;
    cursor: pointer;
}

.btn-success {
    background: rgb(30, 200, 101);
}

.btn-success:hover {
    background: black;
}

.md-form{
    width: 50%;
    margin: 0px auto;
}

.md-form label {
    display: block;
    float: left;
    text-align: left;
    margin-bottom: 5px;
    font-size: 17px;
    margin-top: 10px;
}

input[type="text"],
textarea{
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 3px;
    transition: 300ms all;
    min-height: 30px;
}

textarea{
    width: 100%;
    min-width: 100%;
    height: 150px;
    min-height: 150px;
    max-width: 100%;
    max-height: 300px;
}

.radiobuttons {
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
}

input[type="text"]:focus, textarea:focus{
    outline: none;
    box-shadow: 0px 0px 5px #ddd inset;
}

#footer {
    background: #f7f7f7;
    width: 100%;
    height: 70px;
    line-height: 70px;
    color: #444;
}

#footer p {
    margin: 0px;
    padding: 0px;
}

.article-item{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
}

.article-item .image-wrap{
    width: 130px;
    height: 130px;
    overflow: hidden;
    float: left;
    margin-right: 15px;
    border: 1px solid #ccc;
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;
}

.article-item .date{
    display: block;
    width: 100%;
    color: rgb(122, 121, 121);
    
}

.article-item a {
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover {
    text-decoration: underline;
}

.subheader {
    font-size: 38px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.article-detail .image-wrap{
    float: none;
    width: 100%;
    height: 300px;

}

.article-detail .image-wrap img{
    width: 100%;
    height: auto; /**/
}

.article-detail .subheader {
    margin-bottom: 0px;
    border: none;
    margin-top: 15px;
}

/* responsive */
/* desde la anchura de 0px hasta 1488px de la pantall */
@media(max-width: 1488px){
    /* se ejecutaran estos estilos */
    .center{
        width: 85%;
    }
}
@media(max-width: 1314px){
    /* se ejecutaran estos estilos */
    .center{
        width: 95%;
    }
    #menu ul{
        width: auto;
    }
}

@media(max-width: 826px){
    /* hereda el width 95% del media query anterior */
    #logo{
        float: none;
        width: 240px;
        margin: 0px auto;
        margin-top: 20px;
    }
    #menu, #menu ul{
        clear: both; /*limpia los posibles floats que haya*/
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 43px;
    }
    #content{
        float: none;
        width: 100%;
    }
    #sidebar{
        float: none;
        width: 60%;
        margin: 0px auto;
        margin-bottom: 50px;
    }
    #slider h1{
        padding-top: 115px;
        font-size: 25px;
    }
    .md-form{
        width: 70%;
    }
}
@media(max-width: 496px){
    #header{
        min-height: 130px;
        overflow: hidden;
    }
    #menu, #menu ul{
        line-height: 50px;
    }
    #menu ul li{
        margin-left: 7px;
        margin-right: 7px;
    }
    #slider{
        height: 180px;
    }
    #slider h1{
        font-size: 19px;
        padding-top: 30px;
    }
    #slider .btn-white{
        margin-top: 20px;

    }
    #slider.slider-small{
        height: 100px;
    }
    #slider.slider-small h1{
        padding-top: 35px;
    }
}